.cover {
  height: 80vh;
  width: 26vw;
  margin: vwh auto;
  position: relative;
}

.overlay,
.cover-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.overlay,
.cover-title,
.cover-sent {
  position: absolute;
}

.overlay {
  top: 0%;
  left: 0%;
}

.cover-title {
  bottom: 10%;
  font-family: 'Audiowide', cursive;
  font-family: 'Corinthia', cursive;
  font-size: 5rem;
  color: white;
}

.cover-title::first-letter {
  font-size: 7rem;
}

.cover-sent {
  bottom: 5%;
  color: white;
  font-family: 'Merriweather', serif;
  z-index: 5;
}

.cover-sent-background {
  width: 100%;
  opacity: .5;
  position: absolute;
  z-index: 4;
  min-height: 50px;
  background-color:blueviolet;
  bottom: 5%;
}